

:root {
	
	--col_title_blurb: 	hsl(0, 100%, 80%);
    --col_body_text:   	hsl(25, 25%, 55%);
    --col_title_text:   hsl(20, 65%, 65%);
    
    --col_link_normal: 		hsl(270, 40%, 60%);
    --col_link_hover: 		hsl(250, 50%, 70%);
    --col_link_active: 		hsl(1, 60%, 60%);
    --col_link_visited:	 	hsl(140, 40%, 60%);
    
    --col_background:		hsl(250, 20%, 10%);
    --col_box_shadow: 		hsl(240, 10%, 10%);
    
	--grad1: hsl(60, 60%, 60%);
	--grad2: hsl(50, 70%, 50%);
	--grad3: hsl(40, 50%, 50%);
	--grad4: hsl(30, 70%, 40%);
	--gold_gradient: linear-gradient(to bottom, 
		 var(--grad1) 0%, 
		 var(--grad2) 50%, 
		 var(--grad3) 80%, 
		 var(--grad4) 98% );
}

body {
	font-family: 		Georgia;
	color: 				var(--col_body_text);
	background-color: 	var(--col_background);
}

h2 { margin-top: 0px; text-align: center; }

h3 {
	margin-top: 0px;
	margin-bottom: 5px
}

.title {
	font-family:vollkorn_scregular;
	margin-top: -20px;
	margin-bottom: 0;
	font-size: clamp(70px, 10vw, 130px);
	letter-spacing: 20px;
	color: hsl(0, 0%, 5%);
	
    text-shadow:-1px -1px 2px	hsl(200, 10%, 50%),
    			-2px -2px 0px	hsl(200, 50%, 90%),
    			 0px 0px 0 		hsl(200, 20%, 20%),
                 1px 1px 0 		hsl(200, 20%, 23%),
                 2px 2px 0 		hsl(200, 20%, 26%),
                 3px 3px 0 		hsl(200, 20%, 29%),
                 4px 4px 0 		hsl(200, 20%, 32%),
                 5px 5px 0 		hsl(200, 20%, 35%),
                 6px 6px 0 		hsl(200, 20%, 38%),
                 7px 7px 0 		hsl(200, 20%, 41%),
                 8px 8px 0 		hsl(200, 20%, 44%),
                 9px 9px 0 		hsl(200, 20%, 47%),
                 10px 10px  0 	hsl(200, 20%, 50%),
                 11px 11px 5px  hsl(250, 30%, 80%),
                 11px 11px 1px 	hsl(250, 30%, 90%),
                 11px 11px 20px hsl(250, 60%, 40%),
                 11px 11px 100px hsl(250, 20%, 50%);

}

#title_blurb {
	color: var(--col_title_blurb);
	text-shadow: 1px 1px 5px hsl(10, 50%, 60%);
}

#title_blurb_small {
	color: var(--col_title_blurb);
	font-size: 13px;
	text-shadow: 1px 1px 5px hsl(10, 50%, 60%);
}

#title_small {
	font-size: clamp(70px, 10vw, 70px);
	letter-spacing: 30px;
}

.box_header {
	font-family:vollkorn_scregular;
	font-size: 30px;
	margin-bottom: 0;
	
	color: var(--col_title_text);
	
	text-shadow: 1px 1px 0px hsl(50, 80%, 20%),
				 2px 2px 0px hsl(50, 80%, 20%)
	;
}


a:link 		{ color: var(--col_link_normal); 	}
a:hover 	{ color: var(--col_link_hover); 	}
a:active	{ color: var(--col_link_active); 	}
a:visited 	{ color: var(--col_link_visited);	}

a.no_link_indicators {
	color: black;
	text-decoration: none;
}

a.no_link_indicators:hover {
	color: black;
}

a.no_link_indicators:active {
	color: black;
}

a.no_link_indicators:visited {
	color: black;
}

/*.container{
	display: flex;
}*/

.content {
	margin: auto;
	width: 100%;
	max-width: 1224px;
}

.row {
	display: flex;
	flex-wrap: wrap;
}

.column {
	flex: 50%;
	flex-direction: column;
	display: flex;
}

.module
{
	flex-grow: 1;
	padding: 8px 12px 8px 12px;
	
	background: linear-gradient(to bottom, 
					 hsl(280, 10%, 15%) 0%, 
					 hsl(240, 10%, 12%) 50%, 
					 hsl(200, 5%, 10%) 90%);
	
	clip-path: inset(0px 0px 0px 0px);
}

.module_large {
	
}

.module_border_wrap {
	display: flex;
	flex-grow: 1;
	
	vertical-align: top;
	margin: 6px 10px 10px 10px;
	
	
	position: relative;
	background-blend-mode: multiply;
	background: var(--gold_gradient);
				
	padding: 4px;
}

#AboutBox 			{ box-shadow: 0px 0px 3px 3px var(--col_box_shadow); }
#ProficienciesBox 	{ box-shadow: 0px 0px 5px 5px var(--col_box_shadow); }
#GamesBox		 	{ box-shadow: 0px 0px 5px 5px var(--col_box_shadow); }



#GamesBoxInner {
	padding-bottom: 1px;
}

.games_list {
	flex-direction:column;
}

button {
	margin-top: 50px;
}

#tms_button {
	background-position: center;
	background-image: url("img/tms_img.gif");
	background-color: hsla(10, 0%, 80%, 100%);
	background-blend-mode: multiply;
}

.link_button {
	flex-grow: 1;
	
	margin-right: -10px;
	margin-left: -10px;
	margin-bottom: 0px;
	
	box-shadow:inset 0px 0px 50px 5px #000000;
	
	display:inline-block;
	cursor:pointer;

	background-color: hsla(10, 0%, 10%, 100%);
		
	padding: 17px 24px;
	text-decoration:none;
			
	transition-duration: 0.2s;
	
	text-shadow:  0px  2px 2px #000000,
				  0px -2px 2px #000000,
				  2px  0px 2px #000000,
				 -2px  0px 2px #000000
			;
}

.link_button:hover {
	background-color: hsla(10, 0%, 50%, 100%);
}

.link_button > h4
{
}

.link_button > p
{
	line-height: 	1.3em;
	white-space:	normal;
	max-width:		700px;
	text-align: 	left;
}
	

#copyright_notice {
	color: hsl(240, 30%, 70%);
	text-align: center;
}

.blog_info
{
	display: flex;
	flex-direction: row;
}

.blog_header {
	flex-basis:800px;
	max-width: 600px;
	text-align: center;
}
  
.blog_links_box
{
	font-family:vollkorn_scregular;
	margin-top: 0.2em;
	margin-right: -5px;
	vertical-align: center;
	font-size:25px;
	flex-shrink: 0;
}

.blog_links_box > a {
	padding: 4px;
	font-size: 24px;
	text-decoration:none;
}

.blog_post {
	margin-bottom: 15px;
}

.blog_post_header {
	display: flex;
	-ms-align-items: center;
	align-items: center;
}

.post_date {
	color: hsl(40, 40%, 50%);
	font-style: italic;
	font-size: 15px;
}

.post_text{
	margin-top:5px;
	margin-bottom:5px;
	margin-left:2%;
	text-indent:5px;
}

.read_more_link > a {
	font-size: 		 14px;
	margin-bottom: 	 10px;
	text-decoration:none;
}

.seperator {
	margin-top: 15px;
	margin-bottom: 16px;
	margin-left: -5px;
	margin-right: -5px;
	
	border-top: 2px dotted hsl(250, 50%, 60%);
	border-bottom: 2px solid hsl(250, 20%, 40%);
	border-radius: 4px;
}

@media screen and (max-width: 590px) {
	
	.title {
		
		margin-top: 0px;
		margin-bottom: 0;
		font-size: clamp(70px, 10vw, 130px);
		letter-spacing: 20px;
	}
	
	#title_blurb {
		display: block;
		font-size: 14px;
		transform: translateX(1em) translateY(0.7em);
	}
	
	.box_header{
		margin-bottom:-5px;
		font-size:30px;
		text-align: left;
		margin-left:10%;
	}
	
	.module_border_wrap{
		
		margin: 15px 0px 0px 0px;
	}
	
	.blog_info {
		flex-direction: column;
	}
	
	.blog_header {
		flex-basis: 0px;
	}
	
	.blog_links_box {
		text-align:center;
		font-size: 20px;
	}
	
	.blog_links_box > a {
		padding: 8px;
		font-size: 20px;
	}
	
	#copyright_notice {
		margin-top:30px;
		margin-bottom:30px;
	}
	
	.blog_post_header {
		align-items:flex-start;
		flex-direction:column;
	}
}